.home {
	/* background-color: rgba(0, 0, 0, 0.6);
	opacity: 0.9; */
	background-image: url("../../Image/Rectangle\ 1.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: -10;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
}
